.row {
  display: flex;
  gap: .5em;
  align-items: center;
  padding: 0;
}

.link {
  color: var(--text-dark);
  letter-spacing: 1px;
  font-weight: 400;
  font-size: .9em;
}

.row time {
  font-size: .9em;
  color: var(--text-light);
}