.btn {
    padding: .5em 1.5em;
    border-radius: 7px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    display: block;
}

.primary {
    background-color: var(--second-text-color);
    box-shadow: rgba(255, 87, 34, 0.25) 0px 13px 27px -5px, rgba(255, 87, 34, 0.3) 0px 8px 16px -8px;
    color: var(--text-white);
}

.primary-outline {
    background-color: #fff;
    color: var(--second-text-color);
    border: 1px solid var(--second-text-color);
}

.secondary {
    background-color: var(--second-bg-color);
    color: var(--text-white);
}

.danger {
    background-color: var(--danger-color);
    color: var(--text-white);
}