.form {
    background-color: var(--text-white);
    max-width: 400px;
    padding: 1em;
    margin: 3em auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.forgotPassword {
    color: var(--text-dark);
    font-size: .7em;
    width: 80%;
    text-align: right;
}

.message {
    color: var(--text-dark);
    opacity: .8;
}

.span {
    margin-left: 1em;
}

.input {
    width: 80%;
    padding: 5px;
    border-radius: 5px;
}