.container {
    background-color: var(--main-text-color);
    color: var(--main-bg-color);
    padding: 3rem 0;
}

@media only screen and (min-width: 830px) {
    .row {
        max-width: var(--max-width);
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 0 auto;
    }
}