.row {
  padding: 0 1em;
  display: flex;
  gap: 1em;
  color: var(--text-light);
}

.wrapper {
  display: flex;
  align-items: center;
  font-size: 1.4em;
  gap: .2em;
  color: var(--text-light);
  background-color: #fff;
  border: none;
}

.wrapper span {
  font-size: 0.9em;
}

.liked {
  color: var(--main-bg-color);
}