.container {
    position: relative;
    min-width: 165px;
    justify-content: flex-end;
    display: flex;
}

.accountBtn {
    background-color: white;
    padding: 10px;
    border: none;
    color: var(--text-body);
    font-size: 18px;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.profilePhoto {
    border-radius: 100px;
    padding: 5px 10px;
    background-color: red;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 4px;
}

.displayNone {
    display: none;
}

.item {
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.avatar {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    margin-right: 4px;
}

.profileLinks {
    background-color: var(--text-white);
    padding: 5px;
    position: absolute;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 50px;
    border-radius: 5px;
}

.link {
    color: var(--text-body);
    display: block;
    padding: 5px 0;
    border-bottom: 1px solid var(--text-body);
    width: 100%;
    height: 100%;
}

.link:hover {
    background-color: var(--main-text-color);
}

.profileLinks>.link:last-child {
    border: none;
}